::selection {
  background-color: rgba(121, 174, 241, 0.9);
  color: #ffffff;
}

.no-scrollbar {
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}

.editor-content p {
  margin-top: 0.25rem;  
  margin-bottom: 0.25rem;  
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.editor-content strong {
  font-weight: 500 !important;
}

.editor-content h1 {
  font-size: 64px;
  margin-top: 0.25rem;  
  margin-bottom: 1rem;  
}


.editor-content h2 {
  font-size: 50px;
  margin-top: 1rem;  
  margin-bottom: 1rem;  
}

.editor-content img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.editor-content strong {
  font-weight: 500;
}

.editor-content {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  .editor-content p {
    padding-left: 24px;
    text-align: justify;
    padding-right: 24px;
  }
  .editor-content h1 {
    font-size: 35px;
    margin-top: 1rem;  
    margin-bottom: 1rem;  
  }
  .editor-content h2 {
  font-size: 20px;
  margin-top: 0.25rem;  
  margin-bottom: 0.25rem;  
}
}

@media (max-width: 640px) {
  .editor-content p {
    padding-left: 25px;
    padding-right: 25px;
  }

  .editor-content h1 {
    font-size: 28px;
    margin-top: 1rem;  
    margin-bottom: 0.25rem;  
  }

  .editor-content h2 {
  font-size: 20px;
  margin-top: 0.25rem;  
  margin-bottom: 0.25rem;  
}
}
